body{
    background: #f1eeee;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Light.ttf'); 
}

@font-face {
    font-family: 'Source Sans Pro SemiBold';
    src: url('../fonts/SourceSansPro-SemiBold.ttf'); 
}

@font-face {
    font-family: 'Source Sans Pro ExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight.ttf'); 
}
