.schedule_cntr{
    font-family: 'Source Sans Pro';
    padding: 30px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    .schedule_timer{
        font-family: 'Source Sans Pro';
        display: inline-block;
        width: 50px;
        color: #929191;
    }
    .schedule_start_border{
        display: inline-block;
        border-bottom: 2px solid #efefef;
        height: 2px;
        width: 90%;
        padding: 4px;
        margin: 0 20px;
    }
}
