@mixin linear-gradient($lightColor, $darkColor) {
    background: -webkit-gradient(left top, right bottom, color-stop(0%, $lightColor), color-stop(17%, $lightColor), color-stop(69%, $darkColor), color-stop(100%, $darkColor));
    background: -webkit-linear-gradient(-45deg, $lightColor 0%, $lightColor 17%, $darkColor 69%, $darkColor 100%);
    background: -o-linear-gradient(-45deg, $lightColor 0%, $lightColor 17%, $darkColor 69%, $darkColor 100%);
    background: -ms-linear-gradient(-45deg, $lightColor 0%, $lightColor 17%, $darkColor 69%, $darkColor 100%);
    background: linear-gradient(135deg, $lightColor 0%, $lightColor 17%, $darkColor 69%, $darkColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebc736', endColorstr='#feb83e', GradientType=1 );
}
.schedule_card_cntr{
    font-family: 'Source Sans Pro SemiBold';
    background: #ffb300;
    color: #b90010;
    padding: 10px;
    line-height: 1.4em;
    border-radius: 4px;
    display: inline-block;
    width: 90%;
    animation-name: easeIn;
    animation-duration: 0.5s;
    height: 74px;
    margin-left: 70px;
    .initials{
        width: 40px;
        height: 40px;
        background: #fff;
        color: #000;
        border-radius: 20px;
        text-align: center;
        vertical-align: middle;
        margin-right: 20px;
        background: #e4a50e;
        color: #fff;
        text-transform: capitalize;
        display: inline-block;
        span{
            vertical-align: -webkit-baseline-middle;
            padding-top: 20px;
        }
    }
    .telephone {
        font-family: 'Source Sans Pro ExtraLight';
        margin: 5px 0 0 10px;
        opacity: 0.6;
        display: inline-block;
        span{
            margin-left: 5px;
        }
    }

    .time {
        float: right;
        padding-top: 5px;
    }

    .name {
        padding-right: 10px;
        border-right: 1px solid #fff;
        display: inline-block;
    }
}

.hour_10{
    @include linear-gradient(rgb(142, 216, 216), #76CDCD);
    color: #fff;
    .initials{
        background-color:#76CDCD;
    }
}

.hour_15{
    @include linear-gradient(rgb(77, 108, 116), #26474E);
    color: #fff;
    .initials{
        background-color: #26474E;
    }
}

.hour_13{
    @include linear-gradient(rgb(172, 216, 198), #98D4BB );
    color: #fff;
    .initials{
        background-color:#98D4BB;
    }
}

.hour_11{
    @include linear-gradient(rgb(243, 154, 124),#F27348);
    color: #fff;
    .initials{
        background-color:  #F27348;
    }
}

.hour_12{
    @include linear-gradient(rgb(104, 221, 223), #2CCED2);
    color: #fff;
    .initials{
        background-color: #2CCED2;
    }
}

.hour_14{
    @include linear-gradient(rgb(253, 171, 162), #F9968B);
    color: #ffffff;
    .initials{
        background-color: #F9968B;
    }
}

.hour_7{
    @include linear-gradient(rgb(152, 186, 233), #84A6D6);
    color: #ffffff;
    .initials{
        background-color: #84A6D6;
    }
}

.hour_8{
    @include linear-gradient(rgb(97, 148, 196), #4382BB);
    color: #ffffff;
    .initials{
        background-color: #4382BB;
    }
}

.hour_9{
    @include linear-gradient(rgb(179, 110, 169), #A15D98);
    color: #ffffff;
    .initials{
        background-color: #A15D98;
    }
}

.box_shadow{
    -webkit-box-shadow: 11px 10px 14px -3px rgba(204,204,204,0.86);
    -moz-box-shadow: 11px 10px 14px -3px rgba(204,204,204,0.86);
    box-shadow: 11px 10px 14px -3px rgba(204,204,204,0.86); 
}

//ANIMATIONS
@keyframes easeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

