.schedule_cntr{
    font-family: 'Source Sans Pro';
    height: 100px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    .schedule_timer{
        font-family: 'Source Sans Pro';
        display: inline-block;
        width: 5%;
        color: #929191;
    }
    .schedule_start_border{
        display: inline-block;
        border-bottom: 2px solid #e6e6e6;
        height: 2px;
        width: 90%;
        padding: 4px;
        margin: 0 20px;
    }
}
.schedule_bg_wrapper{
    padding: 20px;
}

body{
    background: #f1eeee;
    margin: 0;
}

//MEDIA QUERIES
@media only screen and (max-width: 600px) {
    .schedule_cntr{
        
        .schedule_timer{
            width: 20%;
        }
        .schedule_start_border{
            width: 75%;
            margin: 0;
        }
    }
  }
